body
{
	background: #EFEFEF;
	margin: 0;
}
a
{
	text-decoration: none;
	color: inherit;
}

*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6
{
	font-weight:normal;
}

ul,ol
{
	list-style: none;
}

hr
{
	height: 0;
	border: none;
	border-top: 1px solid #dedede;
}
.topNavBar
{
	padding: 20px 0px 20px 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.topNavBar-inner
{
	padding: 0 16px;
}
.clearFix:after
{
	display: block;
	clear: both;
	content: '';

}
.topNavBar nav
{
	padding-top: 7px;
	padding-bottom: 0px;
}
.topNavBar nav >ul>li>a
{
	font-size: 12px;
	color: #b7b7b7;
	font-weight: bold;
	display: block;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	padding-top: 5px;
	padding-bottom: 5px;

}
.topNavBar nav >ul 
{
	list-style: None;
	margin: 0;
	padding: 0;
}
.topNavBar nav >ul >li
{
	float: left;
	margin-left: 17px;
	margin-right: 17px;

}
.topNavBar nav>ul>li>a:hover
{
	border-bottom: 3px solid #e06567;

}
.topNavBar .logo
{
	font-family: 'Arial Black';
	font-size: 24px;
	padding-top: 3px;
	padding-bottom: 4px;
}
.topNavBar .logo .rs
{
	color: #e6686a;
	margin-right: 4px;
	
}
.topNavBar .logo .card
{
	color: #9a9da2;
}
.banner
{
	height: 515px;
	background-image:url(./img/rs-cover.jpg);
	background-position: center center;
	background-size: cover;
}
.banner .mask
{
	height: 515px;
	background-color: rgba(0,0,0,0.7);
}

.userCard
{
	
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	transition: box-shadow 0.3s;
}
.userCard:hover
{
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}
.userCard .welcome
{
	background: #E6686A;
	color: white;
	display: inline-block;
	padding:  4px 15px;
	position:relative;
	margin-bottom: 10px;

}
.userCard .welcome .triangle
{
	display: block;
	border: 10px solid transparent;
	border-left-color: #E6686A;
	border-top-width: 0;
	left: 4px;
	top: 100%;
	position: absolute;

}
.userCard .picture
{
	float: left;
}

.userCard .text
{
	float: left;
	margin-left:70px;
	width: 400px;
}
.userCar .text h1
{
	margin-top: 18px;
}
.userCard .text hr
{
	margin: 20px 0;
}
.userCard .pictureAndText
{
	padding: 50px;
}

.userCard dl dt,
.userCard dl dd
{
	float: left;
	padding: 5px 0;
}
.userCard dl dt
{
	width: 30%;

	font-weight: bold;
}

.userCard dl dd
{
	width: 70%;
	color: #9da0a7;
}
.userCard > footer.media
{
	background: #E6686A;
	text-align: center;
}

.userCard svg
{
	width: 30px;
	height: 30px;
	fill: white;
	vertical-align: top;
}
.userCard >footer.media >a
{
	
	display: inline-block;
	border-radius: 50%;
	width: 40px;
	padding: 5px 0;
	line-height: 30px;
	margin:16px;
}
.userCard >footer.media >a:hover
{
	background: #CF5D5F;
}

body>main{
	margin-top: -340px;

}


body>main .downloadResume
{
	font-size: 14px;
	line-height: 15px;
	padding: 21px 55px;
	border: 1px solid #CDCFD1;
	display: inline-block;
	background: #EFEFEF;
	border-radius: 2px;
	color: #3d4451;
	font-weight: bold;
	margin: 32px 0;
	transition: box-shadow 0.3s;

}
body>main .downloadResume:hover
{
	box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.5);
}

body>main .resumeWrapper
{
	text-align: center;
}

.selfIntroduction
{
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: kai;
	line-height: 1.8;
	font-size: 18px;
}


section.skills>h2,
section.portfolio>h2
{
	text-align: center;
	font-size: 34px;
	line-height: 1.2;
	color: #3d4451;
	font-weight: 600;
}

section.skills,
section.portfolio
{
	
	max-width: 940px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	
}
section.skills>ol
{
	background: white;
	box-shadow: 0px 2px 32px 0px rgba(0,0,0,0.75);
	padding: 42px 50px 10px;
	margin-top: 30px;
}
section.skills>ol>li
{
	
	float: left;
	width: 48%;
	box-sizing: border-box;
}
section.skills>ol>li:nth-child(even)
{
	float: right;
}
section.skills .progressBar
{
	border: 2px solid black;
	margin: 4px 0 40px;

}
section.skills h3
{
	font-size: 14px;
	line-height: 1.1;
	margin-right: 40px;

}
section.skills .progressBar
{
	background: #FAE1E1;
	height: 5px;
	border-radius: 2px;

}
section.skills .progressBar .progress
{
	
	
	height: 100%;
	background: #E6686A;
	width: 70%;
	border-radius: 2px;

}
section.portfolio
{
	margin-bottom: 150px;
	text-align: center;
}
section.portfolio>nav
{
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin-top:32px;
}

section.portfolio >nav>ol
{
	display: inline-block;
	vertical-align: top;
	margin:0 auto;
}

section.portfolio>nav>ol>li
{
	float: left;
	margin-left: 40px;
}

section.portfolio>nav>ol>li:nth-child(1)
{
	margin-left: 0;
}

section.portfolio>nav> .bar
{
	border: 1px solid red;
	height: 10px;
	background: white;
	margin-top: 5px;
	margin-bottom: 30px;
	border-radius: 2px;
}

section.portfolio>nav .bar .innerBar
{
	height: 100%;
	background: #E6686A;
	width: 30%;
	margin-left: 50px;
}
section.portfolio .works
{
	position: relative;
}

section.portfolio .works .big,
section.portfolio .works .small
{
	position: absolute;
}