body
{
	background: #EFEFEF;
	margin: 0;
}
a
{
	text-decoration: none;
	color: inherit;
}

*{
	margin: 0;
	padding: 0;
}
hr
{
	height: 0;
	border: none;
	border-top: 1px solid #dedede;
}
.topNavBar
{
	padding: 20px 0px 20px 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.topNavBar-inner
{
	padding: 0 16px;
}
.clearFix:after
{
	display: block;
	clear: both;
	content: '';

}
.topNavBar nav
{
	padding-top: 7px;
	padding-bottom: 0px;
}
.topNavBar nav >ul>li>a
{
	font-size: 12px;
	color: #b7b7b7;
	font-weight: bold;
	display: block;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	padding-top: 5px;
	padding-bottom: 5px;

}
.topNavBar nav >ul 
{
	list-style: None;
	margin: 0;
	padding: 0;
}
.topNavBar nav >ul >li
{
	float: left;
	margin-left: 17px;
	margin-right: 17px;

}
.topNavBar nav>ul>li>a:hover
{
	border-bottom: 3px solid #e06567;

}
.topNavBar .logo
{
	font-family: 'Arial Black';
	font-size: 24px;
	padding-top: 3px;
	padding-bottom: 4px;
}
.topNavBar .logo .rs
{
	color: #e6686a;
	margin-right: 4px;
	
}
.topNavBar .logo .card
{
	color: #9a9da2;
}
.banner
{
	height: 515px;
	background-image:url(./img/rs-cover.jpg);
	background-position: center center;
	background-size: cover;
}
.banner .mask
{
	height: 515px;
	background-color: rgba(0,0,0,0.7);
}

.userCard
{
	
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}

.userCard .welcome
{
	background: #E6686A;
	color: white;
	display: inline-block;
	padding:  4px 15px;
	position:relative;
	margin-bottom: 10px;

}
.userCard .welcome .triangle
{
	display: block;
	border: 10px solid transparent;
	border-left-color: #E6686A;
	border-top-width: 0;
	left: 4px;
	top: 100%;
	position: absolute;

}
.userCard .picture
{
	float: left;
}

.userCard .text
{
	float: left;
	margin-left:70px;
	width: 400px;
}
.userCar .text h1
{
	margin-top: 18px;
}
.userCard .text hr
{
	margin: 20px 0;
}
.userCard .pictureAndText
{
	padding: 50px;
}

.userCard dl dt,
.userCard dl dd
{
	float: left;
	padding: 5px 0;
}
.userCard dl dt
{
	width: 30%;

	font-weight: bold;
}

.userCard dl dd
{
	width: 70%;
	color: #9da0a7;
}
.userCard > footer.media
{
	background: #E6686A;
	text-align: center;
}

.userCard svg
{
	width: 30px;
	height: 30px;
	fill: white;
	vertical-align: top;
}
.userCard >footer.media >a
{
	
	display: inline-block;
	border-radius: 50%;
	width: 40px;
	padding: 5px 0;
	line-height: 30px;
	margin:16px;
}
.userCard >footer.media >a:hover
{
	background: #CF5D5F;
}